**/target/
**/*.classpath
**/*.project
**/.settings/
**/dependency-reduced-pom.xml
**/modules/**/
**/.mtj.tmp/
**/.classpath
**/.project
**/.settings/*
**/*.jar
**/*.war
**/*.ear
**/*.bak
**/*.orig
**/*.iml
package
modules
pygz
advancedtracker-poc/test/output
target
/process/*
lib

*.jar
*.war
*.ear
*.bak
*.orig
*.pyc
*.log

# intelliJ files
*.ipr
*.iws
.idea
*.iml

# eclipse
.settings
.project
.classpath
*.cache-main
*.cache-tests
*.pydevproject

# other
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
.mtj.tmp
**/derbyDB
*copy-to*
**/metastore*
deploy/entity.xml
**/0
*.sublime-workspace
.vagrant
Vagrant*

*.egg-info
*.eggs
*lastfailed

**/.cache/
/local-build.properties
