awscli==1.11.112
boto3==1.4.4
boto==2.39.0
consulate==0.6.0
docker-py==1.10.6
datadog==0.15.0
elasticsearch==1.9.0
findspark==1.1.0
gelfclient==0.0.5
google-cloud==0.26.0
google-cloud-storage==1.2.0
happybase==1.1.0
invoke==0.12.2
kazoo==2.4.0
lmfit==0.8.3
mock==2.0.0
MonthDelta==0.9.1
mrjob==0.5.2
MySQL-python==1.2.5
psycopg2==2.7.1
py2neo==3.1.0
pycountry==1.20
pyhive==0.3.0
pyhs2==0.6.0
python-consul==0.7.0
python-etcd==0.3.3
recordtype==1.1
redis==2.10.5
sasl==0.2.1
sh==1.12.14
simplejson==3.11.1
six==1.10.0
smart_open==1.5.3
snakebite==2.11.0
spark-sklearn==0.2.0
thrift_sasl==0.2.1
thriftpy==0.3.8
ujson==1.33
